/* Cool share button made by: csozi | Website: english.csozi.hu*/

.ConnectBtnMain {
    position: relative;
    display: grid;
    place-items: center;
    transition: 0.3s;
    border-radius: 0%;
    border: none;
  }
  
  .ConnectBtnMain:hover {
    padding: 60px;
  }
  
  /* .ConnectBtnMain:hover .button {
     
  } */
  
  .mainBtn {
    position: relative;
    display: grid;
    place-items: center;
    /* padding: 10px; */
    border: none;
    /* background: #e8e8e8; */
    border-radius: 50%;
    transition: 0.2s;
    z-index: 100;
  }
  
  .button {
    position: absolute;
    display: grid;
    place-items: center;
    padding: 10px;
    border: none;
    background: #e8e8e8;
      
    transition: 0.3s;
    border-radius: 50%;
  }
  
  #connectText:hover ~ .ConnectBtnMain{
    background: red;
  }
   
  
  .twitter-button:hover {
    background: #1CA1F1;
  }
  
  .ConnectBtnMain:hover .twitter-button {
    /* translate: 47px -47px; */
    translate: 75px -30px;
     
  }
  
  .reddit-button:hover {
    background: #FF4500;
  }
  
  .ConnectBtnMain:hover .reddit-button {
    translate: 5px -90px;
     
  }
  
  .messenger-button:hover {
    background: #0093FF;
  }
  
  .ConnectBtnMain:hover .messenger-button {
    /* translate: -70px -37px; */
    translate: -75px -30px;
     
  }
  
  .pinterest-button:hover {
    background: #F0002A;
  }
  
  .ConnectBtnMain:hover .pinterest-button {
    translate: -45px 60px;
     
  }
  
   
  
  
  
  .whatsapp-button:hover {
    background: #25D366;
  }
  
  .ConnectBtnMain:hover .whatsapp-button {
    /* translate: 57px 57px; */
    translate: 50px 62px;
     
  }